$document_width : 300px;
$document_height : 250px;

$brand_yellow: #fdb713;

body, html, * {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    border: none;
}

#ad {
    background: #000000;
    position: absolute;
    display: block;
    overflow: hidden;
    width: 300px;
    height: 250px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    > div {
        position: absolute;
        width: $document_width;
        height: $document_height;
        img {
            position: absolute;
            width: $document_width;
            height: $document_height;
        }
    }
}

//++++++++++++++++++++++++
// CONTAINERS
//++++++++++++++++++++++++
#container_nav {
    height: 45px !important;
}

#container_ebook, #container_video, #container_about, .buttons {
    display: none;
}

//++++++++++++++++++++++++
// LOGOS
//++++++++++++++++++++++++
#logo_keytech {
    background: url(../img/logo_keytech.png) no-repeat;
    //background-position: 58px;
    background-position: 0px;
}

#logo_veryx {
    background: url(../img/logo_veryx.png) no-repeat;
    //background-position: -58px;
    background-position: 0px;
}

#logos {
    position: absolute;
    width: 130px;
    height: 37px;
    bottom: 25px;
    right: 25px;
    div {
        display: inline-block;
        vertical-align: top;
        height: 37px;
    }
    .logo {
        width: 58px;
        background-size: 58px 37px;
    }
    #logo_separator {
        border-left: 1px solid $brand_yellow;
    }
}

//++++++++++++++++++++++++
// CTA
//++++++++++++++++++++++++

#cta_init, #ebook_cta, #video_cta, #about_cta {
    cursor: pointer;
}

//++++++++++++++++++++++++
// VIDEO
//++++++++++++++++++++++++
#btn_play {
    position: absolute;
    top: 58px;
    left: 30px;
    width: 240px;
    height: 142px;
    cursor: pointer;
    img {
        width: 240px !important;
        height: 142px !important;
    }
}

//++++++++++++++++++++++++
// NAVIGATION
//++++++++++++++++++++++++
#nav_tabs {
    font-size: 0;
}

#nav_tabs li {
    display: inline-block;
    vertical-align: middle;
    background-color: #fdb713;
    color: #FFFFFF;
    background-image: url(../img/nav_sprite.png);
    background-size: 300px 90px;
    height: 45px;
    cursor: pointer;
    &:hover {
        color: $brand_yellow;
        background-color: #000000;
        background-position-y: -45px;
    }
    &.active {
        color: $brand_yellow;
        background-color: #000000;
        background-position-y: -45px;
    }

}

#nav_ebook{
    width: 70px;
    background-position: 0px 0px;
}

#nav_video{
    width: 105px;
    background-position: -70px 0px;
}

#nav_about{
    width: 125px;
    background-position: -175px 0px;;
}

//++++++++++++++++++++++++
//SCROLLABLE CONTENT 
//++++++++++++++++++++++++

.content_scrollable {
    position: absolute;
    top: 60px;
    left: 105px;
    height: 135px;
    width: 183px;
    color: #FFFFFF;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: disc;
    p, li {
        font-family: 'Monserrat', sans-serif, Arial;
        font-size: 15px;
        line-height: 18px;
    }
    ul {
        padding: 10px 10px 10px 20px;
    }
    li {
        color: #fdb713;
    }
    &::-webkit-scrollbar-track {
        background: #1b1b1b;
        box-shadow: 0,0,0;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #525252;
    }
}

ul li {list-style-type: disc;}

//++++++++++++++++++++++++
// SIZMEK TEMPLATE
//++++++++++++++++++++++++

.video-container {
    height: 135px;
    position: absolute;
    width: 240px;
    visibility: hidden;
}
.centered {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
video {
    height: 100%;
    width: 100%;
}
.ios-center-video-controls video::-webkit-media-controls {
    min-width: 0;
}

.sdk .sdk-video-player {
    height: 100%;
    width: 100%;
    position: relative;
    // background: url("../images/poster.jpg");
    background-size: cover;
}

.sdk .sdk-video-player-button {
    cursor: pointer;
    position: absolute;
    width: px;
    height: 55px;
    background: url("../img/play.png") no-repeat scroll 0px 0px;
    background-size: cover;
}